name: CI
on:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Lint project
        run: npm run lint

      # Charge l'historique Allure depuis la branche gh-pages
      - name: Load test report history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      # Génère le rapport Allure
      - name: Generate Allure report
        if: always()
        uses: andgineer/allure-report@v3
        with:
          allure-results: build/allure-results
          website: gh-pages
          reports-site-path: allure-report

      # Publie directement sur GitHub Pages
      - name: Publish test report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-report
